<form>
    <div class="row">
        <input type="text" placeholder="Enter 1st No">
        <select>
            <option>+</option>
            <option>-</option>
            <option>*</option>
        </select>
        <input type="text" placeholder="Enter 2nd No">
    </div>
    <div class="row">
        <button>Calculate</button>
    </div>
    <div class="row">
        <input type="text" placeholder="Ans" readonly>
    </div>
</form>