<p data-ref="firstLabel">First No: {{@firstNo}}</p>
<p data-ref="operationLabel">Operation: {{@operation}}</p>
<p data-ref="secondLabel">Second No: {{@secondNo}}</p>

{{#if @isAnsVisible}}
    <p data-ref="ansLabel">Ans is {{@ans}}</p>
{{/if}}