<table border="1" class="book-table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each @booklist as |book|}}
            {{#if book.id}}
                <tr>
                    <td>
                        {{book.id}}
                    </td>
                    <td>
                        {{book.title}}
                    </td>
                    <td>
                        <LinkTo @route="library.detail" @model={{book.id}}>Details</LinkTo>
                    </td>
                </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>