<form>
    <p>
        <input type="text" placeholder="Enter the title of book">
    </p>
    <p>
        <input type="number" placeholder="Enter the price of book">
    </p>
    <p>
        <input type="number" placeholder="Enter Pages of the book">
    </p>
    <p>
        <button>Save</button>
        <a {{action @onCancel}}>Cancel</a>
    </p>
</form>