<!-- Useful for defining the initial application common layout -->

<div class="header">
    <h1>Welcome to my app</h1>
</div>
<hr>
<div class="nav">
    <Navbar />
</div>
<div class="content">
    {{outlet}}
</div>
<div class="footer">
    Copyright 2020. All Rights Reserved
</div>